.basic-footer {
	border-top: 1px solid #E5E5E5;
	color:#777777;
	margin-top: 50px;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
	width: 100%;
	position: fixed;
}

.sidebar {
	background-color: #F5F5F5;
    border-right: 1px solid #EEEEEE;
    margin-bottom: 119px;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 45px;
    z-index: 1000;
}