/* Custom Stylesheet */
body, html {
    height: 768px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    background: #aadfeb;
    text-align: center;
    font-family: helvetica;
}

.boundary
{
    height: 431px;
    width: 980px;
    top: 20px;
    position: absolute;
    border-style: solid;
    border-color: blue;
}

#image
{
    position: relative;
    left: 0px;
    height: 348px;
    width: 476px;
}

ul.tabs
{
    position: relative;
    float: right;
    top: 0px;
    height:426px;
    width:400px;
    bottom: 420px;
    top: auto;
}



/* Tabs Demo 1 */
.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
  list-style: none;
  padding: 0;
  margin: 75px auto;
  position: relative;
}
.tabs li{
  float: left;
}
.tabs label {
    display: block;
    position: relative;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #08C;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Roboto', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: rgba(255,255,255,0.5);
  top: 0;
}

[id^=tab]:checked + label {
  background: #08C;
  color: white;
  top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
  z-index: 2;
  display: none;
  text-align: left;
  width: 100%;
  font-size: 20px;
  line-height: 140%;
  padding-top: 10px;
  background: #08C;
  padding: 15px;
  color: white;
  position: absolute;
  top: 53px;
  left: 0;
  box-sizing: border-box;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

#newProject{
	height: 348px;
	width: 476px;
	position: absolute;
	top: 20px;
	left: 200px;
	outline: black solid 2px;
	border-style: solid;
   	border-color: blue;
}

#existingProjects{
	height: 431px;
    width: 400px;
	float:right;
	outline: black solid 2px;
	border-style: solid;
    border-color: blue;
}